#div1{
 width:20%; 
    }

#div2{
 width:30%;  
    }

#div3{
 width:40%;  
    }

.divp{
    float:left; 
    margin: 0 10px 10px 0; 
    text-align:center;
    padding: 10px;
    border-width:1;
    border-color: rgb(190,190,190);
    border-style: solid;
    height: 100%;
    }



img{
max-width: 100%;
 height: auto;
 display: block;
}

.img1{
    margin: 0 24% 10px 24%; 
    width:50%;
   
}

#petf{
    margin: 10px 24% 10px 24%; 
    width:50%;
   
}

.img2{
    margin: 0 0 0 0; 
     width:15%; 
   float:left; 

}

.progresbar1 {
  width: 70%;  

}




.divh{
   display: flex;

flex-wrap: wrap;
    }



